.goal-header {
    /* justify-content: space-between; */
    align-items: center;
    /* padding: 10px; */
    cursor: pointer;
    margin-bottom: 10px;
    display: flex;
    align-items: center; /* 세로 가운데 정렬 */
    justify-content: flex-start; /* 텍스트와 아이콘을 왼쪽 정렬 */
}

.goal-title {
    padding-left: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-right: 8px; /* 텍스트와 아이콘 사이의 간격을 줄임 */
}

.goal-icon {
    font-size: 15px;
    padding: 5px;
    align-items: center;
    margin-right: 5px;
}

.selected-menu {
    size: 16px;
}

/* svg 아이콘의 크기 조정 */
.goal-icon svg {
    font-size: 18px;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-top: 2px;
}

.goal-input {
    padding-left: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-color: #A7A9B2;
    background: #F6F6F7;
    border-radius: 20px;
    border-width: 1px;
    width: 100%;
    margin-top: 0px;
    /* box-sizing: border-box; */
    transition: all 0.3s ease;

    font-family: Noto Sans KR;
    font-size: 15px;
    font-weight: 500;
    line-height: 21.72px;
    text-align: left;
    color: #8E8E8E;
}

.goal-input::placeholder{
    color: #8E8E8E;
    ; /* placeholder 색상 */
    font-size: 15px; /* placeholder 글꼴 크기 */
}

.goal-input:focus {
    outline: none; /* 기본 포커스 아웃라인 제거 */
    border: 1px solid #0095E5; /* 선택 시 1px 테두리 */
    box-shadow: 0 0 0 3.2px rgba(32, 162, 232, 0.25); /* 외곽 그림자 추가 */
}

.goal-section {
    padding: 0; /* 부모 요소의 패딩 제거 */
    margin: 0 0 25px 0; /* 부모 요소의 마진 제거 */
    width: 100%; /* 부모 요소의 너비를 100%로 설정 */

}

